---
// eslint-disable-next-line @typescript-eslint/no-unused-vars
import maplibregl from "maplibre-gl";
import type {
  FillLayerSpecification,
  CircleLayerSpecification,
  LineLayerSpecification,
  SymbolLayerSpecification,
} from "maplibre-gl";
import markdownContent from "../pages/example_scrollytelling.md?raw"; // Assuming markdown is under pages directory

const headings = markdownContent.match(/#+\s.+/g)?.map((heading) => {
  const text = heading.replace(/#+\s/, "");
  const slug = text.toLowerCase().replace(/\s/g, "-");
  const content = markdownContent.split(heading)[1].split(/#+\s/)[0];
  return { text, slug, content };
});

export interface Props {
  latitude: number;
  longitude: number;
  zoom: number;
  mapstyle: string;
  container: string;

  /** If `false`, the map will not respond to interaction.  This is a static map built with the full web map rendering API. */
  interactive?: boolean;
  containerstyle?: string;
  pitch?: number;
  bearing?: number;
  layers?: GeoJSONFeatureLayer[];
}

export interface GeoJSONFeatureLayer {
  dataType: "geojson";
  id: string;
  url: string;
  layerType:
    | "symbol"
    | "fill"
    | "custom"
    | "raster"
    | "line"
    | "circle"
    | "heatmap"
    | "fill-extrusion"
    | "hillshade"
    | "background";
  paint?:
    | FillLayerSpecification
    | LineLayerSpecification
    | CircleLayerSpecification
    | SymbolLayerSpecification;
}

const {
  latitude,
  longitude,
  zoom,
  mapstyle,
  container,
  interactive,
  containerstyle = "height: 61.8vh",
  pitch,
  bearing,
  layers,
} = Astro.props;
const layersJson = layers ? JSON.stringify(layers) : undefined;
---

<div class="scrollytelling-container">
  <!-- Map Container -->
  <div
    id={container}
    class="maplibre-inline map-container"
    style={{ width: "100vw", height: "100vh" }}
  >
    <maplibre-map
      data-latitude={latitude}
      data-longitude={longitude}
      data-zoom={zoom}
      data-mapstyle={mapstyle}
      data-container={container}
      data-interactive={interactive}
      data-containerstyle={containerstyle}
      data-pitch={pitch}
      data-bearing={bearing}
      data-layers={layersJson}
    >
      <link
        rel="stylesheet"
        href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css"
      />
      <script>
        class MapLibreMap extends HTMLElement {
          constructor() {
            super();
            var map = new maplibregl.Map({
              container: this.dataset.container || "maplibre-map",
              interactive: this.dataset.interactive
                ? JSON.parse(this.dataset.interactive)
                : false,
              center: [
                this.dataset.longitude ? parseFloat(this.dataset.longitude) : 0,
                this.dataset.latitude ? parseFloat(this.dataset.latitude) : 0,
              ],
              zoom: this.dataset.zoom
                ? parseFloat(this.dataset.zoom)
                : undefined,
              style: this.dataset.mapstyle,
            });

            map.on("load", () => {
              const sections = document.querySelectorAll("section");

              const observer = new IntersectionObserver((entries) => {
                entries.forEach((entry) => {
                  if (entry.isIntersecting) {
                    const centerAttr = entry.target.getAttribute("data-center");
                    const center = centerAttr ? JSON.parse(centerAttr) : null;
                    const zoom = entry.target.getAttribute("data-zoom");

                    // Update the MapLibre map
                    map.flyTo({
                      center: center,
                      zoom: zoom ? parseFloat(zoom) : undefined,
                    });
                  }
                });
              });

              sections.forEach((section) => observer.observe(section));
            });
          }
        }

        window.customElements.define("maplibre-map", MapLibreMap);
      </script>
    </maplibre-map>
  </div>

  <!-- Scrolling Content -->
  <main>
    {
      (headings ?? []).map(
        (heading: { content: string; slug: string; text: string }) => {
          const content = heading.content; // Full markdown content
          const directiveMatch = content.match(/<!--\s*{(.+?)}\s*-->/); // Regex to match JSON within HTML comments

          let mapOptions = {};
          if (directiveMatch) {
            try {
              mapOptions = JSON.parse(`{${directiveMatch[1]}}`); // Parse map options from comment
            } catch (error) {
              console.error("Error parsing map options:", error);
            }
          }

          return (
            <section
              id={`section-${heading.slug}`}
              data-map-options={JSON.stringify(mapOptions)}
            >
              <h2>{heading.text}</h2>
              <p>{content.replace(/<!--.*-->/, "")}</p>{" "}
              {/* Render content without map directives */}
            </section>
          );
        }
      )
    }
  </main>
</div>
